# Flutter/Dart related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter/
build/

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Other
*.log
*.lock
*.bak
*.tmp
*.swp
*.swo
